body {
    background-color: #023047;
}

h1 {
    color: #FB8500;
}

h2 {
    color: #FFB703;
}

a {
   color: #8ECAE6;
}

p {
    color: #8b8c89;
}

.navbar {
    background-color: #219EBC;
}

.mainPic {
    border-color: #FB8500 !important;
}

@media (max-width: 775px) {
    .mainPic {
        width: 400px;
        height: 400px;
    }
}