body {
    background-color: #023047;
}

h1 {
    color: #FB8500;
}

h2 {
    color: #FFB703;
}

a {
   color: #8ECAE6;
}

p {
    color: #8b8c89;
}

.navbar {
    background-color: #219EBC;
}

.mainPic {
    border-color: #FB8500 !important;
}

.banner {
    background-color: #219EBC;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
}

.card {
    background-color: #023047;
    border-color: #FB8500;
}

.card p {
    color: #FFB703;
}

.card-img {
    width: 100%;
    height: 100%;
    onject-fit: cover;
    border-bottom-right-radius: 0px;
}

@media (max-width: 775px) {
    .mainPic {
        width: 400px;
        height: 400px;
    }
}